.heroFlexParent {
    display: flex;
    flex-direction: row;
    width: 100%;
}



.heroSideAFlexParent {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3%;
    flex-wrap: wrap;
}

.contactButton {
    font-size: 1.5em;
    margin-top: 3%;
    margin-bottom: 3%;
}

.sideAStatsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 12%;
    height: inherit;
}

.experiencedTechContainer {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    border-left: solid #ffffff 1px;
    border-right: solid #ffffff 1px;
    padding: 3%;
    text-align: center;
    height: inherit;
    overflow: hidden;
    justify-content: space-evenly;

}

.experiencedTechContainer > h3 {
   align-content: flex-start;
   font-size: 2.5em;
   margin: 0;
}

.experiencedTechContainer > p {
    align-content: flex-start;
 }

.projectsCompletedContainer {
    color: #ffffff;
    border-right: solid #ffffff 1px;
    padding: 3%;
    text-align: center;
    height: inherit;
}

.projectsCompletedContainer > h3 {
    align-content: flex-start;
    font-size: 2.5em;
    margin: 0;
}

.heroSideBFlexParent {
    display: flex;
    width: 50%;
    padding: 3%;
    flex-wrap: wrap;
}

.heroImageContainer {
    display: flex;
    width: 100%;
}

.heroImage {
    width: 100%;
    border-radius: 2%;
    margin-right: 100px;
    object-fit: contain;
}


@media(max-width:700px) {
    .heroFlexParent {
      flex-flow: row wrap;
  }
}